<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand">
                <b>
                    <img src="../../../assets/images/logo-icon.png" alt="">
                    <img src="../../../assets/images/logo-light-icon.png" alt="">
                </b>
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="" class="nav-link nav-toggler"></a></li>
                <li class="nav-item"><a href="" class="nav-link sidebartoggler"></a></li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>
        </div>
    </nav>
</header>